[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
pytest = "*"
tox = "*"
flake8 = "*"
black = "*"
pre-commit = "*"

[requires]
pytest-metadata = {editable = true,path = "."}
